@media(max-width: 550px){
    .toggle_menu{
        display: block;
        font-size: 3.0rem;
        color: var(--gray);
    }

    .nav{
        justify-content: space-between;
        
    }

    .nav__menu-list{
        display: none;
        
    }

    .nav__menu{
        width: auto;
        flex: 0;
    }


}