@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --gray: hsl(0, 0%, 75%);
    --gray-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --white: #fff;
    --bg: #F0F1F6;

    --bold-weight: 700;
    --medium-weight: 500;
    --regular-weight: 400;
    --family-font: 'Poppins', sans-serif;
    font-size: calc(0.5em + 1vw);
}

@media(min-width: 50em) {
    :root{
        font-size: 1.125em;
    }
}

body{
    font-family: var(--family-font);
    color: var(--gray);
}

h1, h2, h3{
    font-weight: var(--bold-weight);
    color: var(--very-dark-violet);
}
h1{
    font-size: 3.3rem;
}

/* Utility classes */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid-2{
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}
.grid-3{
    grid-template-columns: repeat(3, minmax(10em, 1fr));
    gap: 2em;
}

.grid-5{
    grid-template-columns: 1fr repeat(3, minmax(250px, .8fr)) 1fr;
    gap: 1em;
    
    align-items: flex-start;
}

.btn{
    border-radius: 1.2em;
    padding: .3em .8em;
}

.btn--cyan{
    background-color: var(--cyan);
    color: var(--white);
}


.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2em;
}


.text-center{
    text-align: center;
}


/* Navigation Bar */
header{
   padding-top: 1.0em;
   padding-bottom: 1.5em;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1000;
   background-color: var(--white);
}

.nav{
    justify-content: flex-start;
    gap: 1.8em;
}

.nav__logo{
    display: inline-block;
    margin-top: .5em;
}


.nav__menu{
    width: 100%;
}

.nav__menu-list{
    gap: 1.8em;
    width: 100%;
    flex: 1;
}

.nav__menu-list > li:nth-child(4){
    margin-left: auto;
}



.nav__menu-list > li:nth-child(5) > a{
    color:var(--white);
}


.nav__menu-list > li> a{
    color: var(--gray-violet);
    font-size: .8rem;
    font-weight: var(--medium-weight);
}

.toggle_menu{
    display: none;
}


/* HERO SECTION DESIGN */

.hero{
    height: 100vh;
    width: 100%;
    max-height: 800px;
    position: relative;
    
}
.hero__detail > h1{
    line-height: 1.2;
}
.hero__detail > p{
    max-width: 70%;
    margin-top: 0.8em;
    margin-bottom: 2.2em;
}


.search-box{
    position: absolute;
    bottom: -100px ;
    height: 200px;
    left:50%;
    transform: translateX(-50%);
    background-color: var(--dark-violet);
    border-radius: .5em;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-size: cover;
    background-position:right bottom ;
    background-repeat: no-repeat;
}

.search-box > .grid-2{
    grid-template-columns: 3.5fr 1fr;
}
.search-box > .grid-2 input{
    width: 100%;
    height: 3em;
    border: none;
    border-radius: .5em;
    padding: .2em .7em;
}

.search-box > .grid-2 .btn{
    border-radius: .4em;
    padding: .5em .8em;
}


/* STATISTICS STYLING */
.statistics{
    background-color: var(--bg);
}

.adv{
    padding: 13em 0 5em;
} 

.adv p{
    max-width: 600px;
    margin: 0 auto;
}

.card-wrapper{
    padding-bottom: 8em;
}
.card{
    width: 100%;
    background-color: var(--white);
    border-radius: .4em;
    position: relative;
    padding: 1.5em;
}

.card > h3{
    margin: 1.5em 0;
}

.card > p{
    font-size: .7rem
}

.circle{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: var(--dark-violet);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 2em;
    top: -2em;
}

.card:nth-child(1)::after, .card:nth-child(2)::before{
    content:"";
    position: absolute;
    height: .7em;
    width: 100%;
    background: var(--cyan);
    top: 50%;
    left:100%;
}

.card:nth-child(2){
    margin-top: 4em;
}
.card:nth-child(3){
    margin-top: 8em;
}

/* Boost section */
.boost{
    background-color: var(--dark-violet);
    background-image: url('../images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 3em 0;
}

.boost > h2{
    color: var(--white);
    margin-bottom: 1em;
}


/* Footer area */
footer{
    padding: 3em 0;
    background-color: var(--very-dark-blue);
}

.social ul{
    display:flex;
    gap: 0.8em;
}

footer h4{
    margin-bottom: .8em;
    font-weight: var( --medium-weight);
}

footer  a{
    font-size: .8rem;
}

footer  a:hover{
    color: var(--cyan);
}

.icon{
    fill: var(--white);
}

.icon:hover{
    fill: var(--cyan);
}
